<p class="h1 text-center">{{ title }}</p>
<div class="container-fluid justify-content-center" id="navigation">
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link" href="#">Welcome</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Status (Under Construction)</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Details (Under Construction)</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Obtaining (Under Construction)</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Training (Under Construction)</a>
		</li>
	</ul>
</div>
